name: Docker Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '21'

      - name: Build with Maven
        run: ./mvnw clean package

      - name: Build Docker image
        run: |
          version="1.1.0"
          docker build -t aryehrotberg709/reactivewings:$version .

      # - name: Log in to Docker Hub
      #   uses: docker/login-action@v1
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: |
          version="1.1.0"
          docker login -u aryehrotberg709 -p ${{ secrets.DOCKER_HUB_TOKEN }}
          docker push aryehrotberg709/reactivewings:$version