name: Docker Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      VERSION: "1.1.1"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Build with Maven
        run: ./mvnw clean package -DskipTests

      - name: Build Docker image
        run: docker build -t aryehrotberg709/reactivewings:${{ env.VERSION }} .

      - name: Push Docker image
        run: |
          docker login -u aryehrotberg709 -p ${{ secrets.DOCKER_HUB_TOKEN }}
          docker push aryehrotberg709/reactivewings:${{ env.VERSION }}
